<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>changeMenu</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="../stylesheets/main.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<div th:replace="~{fragments/staffnavbar :: staffnavbar}"/>
<body>
  <div class="jumbotron text-center">
    <h1>Menu Items</h1>
  </div>

  <div class="container">
      <h1 th:if="${#lists.isEmpty(menuItems)}">
        <h1> There is nothing in the menu </h1>
      </h1>
     <div th:each="item: ${menuItems}" class="menuItem" th:style="${item.available == 0} ? 'background-color:#FF8C00;' : 'background-color:#eee;'">
        <h3 th:text="'Name:' + ${item.name}"></h3>
        <h3 th:text="'Description: ' + ${item.description}"></h3>
         <h3 th:if="${item.available == 1}"> Available: Yes</h3>
         <h3 th:if="${item.available == 0}"> Available: No</h3>
         <form id="acceptform" th:action="@{/modifyavailability/modify}" method="post">
            <button type="submit" name = "menu_id" th:value="${item.menu_id}" class="changeButton"
                    th:onclick="|return changeAvailabilty(${item.available})|">Change availability</button>
         </form>
      </div>
    </div>
  </div>
</body>
</html>
